<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<html>

<body>
  <div class="jumbotron text-center">
    <h1>Google Cloud Platform - Natural Language API</h1>
    <p>This Python Flask application demonstrates App Engine Flexible, Datastore, and the Natural Language API.</p>
  </div>

  <div class="container">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
      <div class="input-group-prepend">
        <form action="upload" method="POST" enctype="multipart/form-data">
          <input class="btn btn-outline-secondary" type="button" type="submit" name="submit" value="Submit">
      </div>

      </form>
    </div>

    <table class="table">
      <thead>
        <th>Text</th>
        <th>Uploaded</th>
        <th>Overall Sentiment</th>
      </thead>
      <tbody>
        {% for text_entity in text_entities %}
        <tr>
          <td>{{text_entity['text']}}</td>
          <td>{{text_entity['timestamp']}}</td>
          <td>{{text_entity['sentiment']}}</td>
        </tr>
        <table>
          <thead>
            <th>Name</th>
            <th>Type</th>
            <th>Salience</th>
          </thead>
          <tbody>
            {% for entity in text_entity['entities'] %}
            <tr>
              <td>{{entity['name']}}</td>
              <td>{{entity['type']}}</td>
              <td>{{entity['salience']}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>

</html>